 <!-- SignIn dialog -->
<div class="modal fade" align="left" id="signInModal" data-ng-include data-src="'views/auth/signInModal.html'" tabindex="-1" data-backdrop="static" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true"></div>

<!-- Password Recovery  dialog -->
<div class="modal fade" align="left" ng-controller="authController" id="passwordRecoveryModal" data-ng-include data-src="'views/auth/passwordRecoveryModal.html'" tabindex="-1" data-backdrop="static" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true"></div>

<!-- Change Password dialog -->
<div class="modal fade" align="left" id="changePasswordModal" data-ng-include data-src="'views/auth/changePasswordModal.html'" tabindex="-1" data-backdrop="static" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true"></div>

<!-- SignUp dialog -->
<div class="modal fade" ng-controller="authController" id="signUpModal" data-ng-include data-src="'views/auth/signUpModal.html'" tabindex="-1" data-backdrop="static" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true"></div>
