<div class="modal-dialog div-modal-dialog div-modal-dialog-close-conference">
    <div class="modal-content">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true"></button>
            <div>Confirm conference closing</div>
        </div>
        <div class="modal-body">
            <div id="videoChatModalCaption">Current video chat will be closed. Continue?</div>
        </div>
        <div class="modal-footer">
            <button class="btn btn-primary" ng-click="closeCurrentConference()">Yes</button>
            <button class="btn btn-default" ng-click="closeModal()">No</button>
        </div>
    </div>
</div>