<div class="modal-dialog div-modal-dialog">
    <div class="modal-content modal-content-delete-friend">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true"></button>
            <div class="modal-title">Alert</div>
        </div>
        <div class="modal-body modal-body-delete-friend">
            <div class="text-center">
                Do you want to delete your friend
            </div>
            <div id="delete-friend-name"></div>
        </div>
        <div class="modal-footer modal-footer-delete-friend">
            <button ng-click="deleteFriend()" class="btn delete-friend-confirm-button">Delete</button>
            <button class="btn delete-group-chat-cancel-button" data-dismiss="modal">Cancel</button>
        </div>
    </div>
</div>