<div class="modal-dialog div-modal-dialog">
    <div class="modal-content modal-content-delete-group-chat">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true"></button>
            <div class="modal-title">Alert</div>
        </div>
        <div class="modal-body modal-body-delete-group-chat">
            <div class="text-center">
                Do you want to delete group chat:
            </div>
            <div id="delete-group-chat-name"></div>
        </div>
        <div class="modal-footer modal-footer-delete-group-chat">
            <button ng-click="deleteGroupChat()" class="btn delete-group-chat-confirm-button">Delete group chat</button>
            <button class="btn delete-group-chat-cancel-button" data-dismiss="modal">Cancel</button>
        </div>
    </div>
</div>