<div class="modal-dialog div-modal-dialog">
	<div class="modal-content">
		<div class="modal-header">
			<button type="button" class="close" ng-click="closeInactivityModal()" aria-hidden="true"></button>
			<div>Alert</div>
		</div>
		<div class="modal-body">
			<div id="alertModalBody"  class="form-group">
				You have been inactive for more than an hour
			</div>
		</div>
		<div class="modal-footer">
			<button type="button" class="btn btn-default" ng-click="continueSession()">I'm here</button>
		</div>
	</div>
</div>

