<div class="modal-dialog div-modal-dialog">
    <div class="modal-content">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true"></button>
            <div>Share it</div>
        </div>
        <div class="modal-body modal-body-shareit">
            <div>
                <input type="text" ng-model="sharedLinks.sharingLinkTitle" placeholder="Enter short description message" class="form-control margined-bottom"/>
            </div>
            <div class="text-center">
                <button ng-click="SendSharingLink()" class="btn btn-default">Send</button>
            </div>
        </div>
    </div>
</div>