.DS_Store
platforms/android/gen/
platforms/android/bin/
platforms/android/external/facebook/bin/
platforms/android/external/facebook/gen/
platforms/android/external/image-chooser-library/bin/
platforms/android/external/image-chooser-library/gen/
platforms/android/external/google-play-services_lib/bin/
platforms/android/external/google-play-services_lib/gen/
platforms/android/external/aFileChooser/bin/
platforms/android/external/aFileChooser/gen/
platforms/android/CordovaLib/bin/
platforms/android/CordovaLib/gen/
platforms/android/external/pagerIndicator/bin/
platforms/android/external/pagerIndicator/gen/

*.prefs
platforms/android/.classpath

platforms/android/.project