<div class="modal-dialog">
    <div class="modal-content">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
            <h4 class="modal-title" id="videoChatModalCaption">Current video chat will be closed. Continue?</h4>
        </div>
        <div class="modal-body">
            <div class="text-center">
                <button class="btn btn-default" ng-click="closeCurrentConference()">
                    Yes  
                </button>
                <button ng-click="closeModal()" class="btn btn-default">
                    No
                </button>
            </div>
        </div>
    </div>
</div>