<div class="modal-dialog deleteUserpic-dialog div-modal-dialog">
    <div class="modal-content">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true"></button>
            <div>Delete Image Profile</div>
        </div>
        <div class="modal-body">
			<div class="form-group">Are you sure that you want to delete userpic?</div>
		</div>
        <div class="modal-footer">
            <button type="button" class="btn btn-primary" ng-click="Functions.closeImageProfile()">Yes</button>
            <button type="button" class="btn btn-default" data-dismiss="modal">No</button>
        </div>
    </div>
</div>
