<div class="modal-dialog div-modal-dialog">
    <div class="modal-content div-modal-content-delete-favorite">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true"></button>
            <div class="modal-title">Delete confirmation</div>
        </div>
        <div class="modal-body modal-body-delete-favorite">
            <div class="text-center">
                Are you sure you want to delete favorite link?
            </div>
        </div>
        <div class="modal-footer delete-favorite-modal-footer">
            <button ng-click="deleteFavoriteLink()" class="btn delete-favorite-delete-button">Yes</button>
            <button ng-click="denyDeleteFavLink()" class="btn delete-favorite-cancel-button">No</button>
        </div>
    </div>
</div>