<div class="modal-dialog div-modal-dialog">
    <div class="modal-content modal-content-save-profile">
        <div class="modal-header">
            <button type="button" class="close close-modal" aria-hidden="true"></button>
            <div>Save My Profile</div>
        </div>
        <div class="modal-body modal-body-save-profile">
            <div class="form-group">
                <span>You have unsaved changes. Save them? </span>
            </div>
        </div>
        <div class="modal-footer password-change-modal-footer">
	        <button type="button" class="btn save-profile-save-button" ng-click="Functions.submitProfile()">Save</button>
            <button type="button" class="btn close-modal save-profile-no-button" >No</button>
	    </div>
    </div>
</div>
