<div class="modal-dialog shareScreen-dialog">
    <div class="modal-content">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
            <h4 class="modal-title">Share Screen</h4>
        </div>
        <div class="modal-body">
            <textarea id="nameKeeper"></textarea>
            <div class="text-center">
				<button id="sendShareScreenLink" class="btn btn-default">Invite</button>
			</div>
        </div>
    </div>
</div>