<div class="modal-dialog">
    <div class="modal-content">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
            <h4 class="modal-title">Share It</h4>
        </div>
        <div class="modal-body">
            <input type="text" ng-model="sharedLinks.sharingLinkTitle" placeholder="enter short description message" class="form-control margined-bottom"/>
            <div class="text-center">
                <button ng-click="SendSharingLink()" class="btn btn-default">Send</button>
            </div>
        </div>
    </div>
</div>